body{
    background-color:white;
}
.container {
    display: flex;
    height: 100%;
}

#page-title{
    font-family:cursive;
    color: black;
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
    text-align: center;
    padding:20px;
}
.col{
    margin-top: 10px;
    margin-bottom: 10px;
}

#info-table{
    text-align: left;
}


#summary-title{
    text-decoration: underline;
}

#personal-summary{
    background-color: aliceblue;
    border:1px solid black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#skills-table{
    border:1px solid black;
    border-collapse: collapse;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}
.header{
    color: antiquewhite;
    background-color: blue;
    text-align: center;
}
.table-data{
    border:1px solid black;   
}
#enter-button{
    background-color: aliceblue;
}
#output{
    color:darkblue
}








